body {
  color: #F2E7DC;
  font-family: sans-serif;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  border: 0px solid white;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(80%);
  box-shadow: inset 0 0 200px black;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

.main-title {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100vw;
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

.main-content {
  background-color: #011526;
  opacity: 0.8;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  width: 80vw;
  margin: auto;
  z-index: 2;
  position: relative;
  box-shadow: 10px 10px 8px #0A0D0B;
}