.vendorContainer {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(58, 60, 64, 0.5);
    border-radius: 5px;
    margin: 10px 10px 30px 10px;
    padding: 0px 20px 20px 20px
}

.vendorInfo {
    flex: 0 1 100%;
}

.vendorInfo img {
    border: 1px rgba(255, 255, 255, 0.7) solid;
    width: auto;
    height: auto;
}

.vendorInfo button {
    margin-top: 50px;
    position: relative;
    right: -5px;
    top: -40px
}

.salesContainer {
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 100%;
}

.salesContainer h3 {
    text-decoration: underline;
}

.bounties {
    flex: 0 1 100%;
    display: flex;
    flex-flow: row wrap;
}

.itemContainer {
    flex: 0 1 auto;
    display: grid;
    grid-template-columns: 90px 200px;
    column-gap: 5px;
    padding: 10px;
}

.itemContainer img {
    width: 80px;
    height: 80px;
}

.vendorContainer .showAllContainer {
    height: 300px;
}

.showAllContainer {
    width: 400px;
    margin: 10px;
    background-color: rgba(21, 28, 35, 26);
}

.showAllContainer .header {
    display: flex;
    background-color:  rgb(53, 53, 54);  
}

.showAllContainer .header img {
    width: 60px;
    height: 60px;
    padding: 7px 0px 0px 7px;
}

.showAllContainer .header h4 {
    padding-left: 10px;
}

.showAllContainer h5 {
    padding-left: 10px;
    padding-right: 10px;
}

.showAllContainer .body {
    padding-left: 10px;
    padding-bottom: 10px;
}

.bountiesContainer h1 {
    font-size: 48px
}

.bountiesContainer .main-title {
    height: 50px;
}

.bountiesContainer .main-content {
    margin-bottom: 100px;
}

.loadingBody h3, .loadingFooter h3 {
    font-style: italic;
}

.tooltip {
    position: absolute;
    z-index: 4;
    background-color: rgb(21, 28, 35);
    border: 2px solid goldenrod;
    margin-left: 95px;
    margin-top: -40px;
    padding:  0px 10px 15px 10px;
    width: 400px;
}

.tooltip h4 {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    font-size: 25px;
    margin-top: 20px;
}

.tooltip h5 {
    margin-top: -15px;
    margin-bottom: 18px;
}

.container { 
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 6px;
    padding-bottom: 6px;
}

.box {
    background-color: rgb(11, 14, 18);
    height: 23px;
    width: 23px;
    border: 2px solid rgb(143, 147, 150)
}

.objective {
    background-color: rgb(11, 14, 18);
    height: 27px;
    width: 340px;
}

.objective .description {
    position: relative;
    z-index: 5;
    margin-top: 5px;
    float: left;
    padding-left: 5px;
}

.objective .value {
    position: relative;
    z-index: 5;
    margin-top: 5px;
    float: right;
    padding-right: 5px;
}

.bountiesContainer h1 {
    padding-bottom: 20px;
}

.bountiesContainer button {
    float: right;
    margin-top: -30px;
}

.recalculatebtn,
.filterbtn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 18px;
    font-weight: bold;
    font-weight:300;
    color: white;
    text-align:center;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.1)
    }

.recalculatebtn:hover,
.filterbtn:hover{
    color:#000000;
    background-color:#FFFFFF;
    }

#time {
    overflow: hidden;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    border-color: white; 
    border-width: 2px;
    outline:always;
    -webkit-appearance: none;
    background-color: #1e269b93;
    margin-bottom: 40px;
  }
  
  #time::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #00be2093;
    margin-top: -10px;
  }
  
  #time::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: #c7c4c4;
    box-shadow: -280px 0 0 280px #00be2093;
  }

  #time-number{
      margin-bottom: 10px;
  }

@media (max-width: 800px) {
    .vendorInfo img {
        width: 420px;
        height: 120px;
    }
}

@media (max-width: 600px) {
    .vendorInfo img {
        width: 262px;
        height: 75px;
    }

    .itemContainer img {
        width: 72px;
        height: 72px;
    }

    .showAllContainer {
        width: 300px;
    }

    .showAllContainer .objective {
        width: 240px;
    }
    
    .tooltip {
        width: 225px;
    }

    .objective {
        width: 190px;
    }
}