.home .main-content {
    margin-bottom: 50px;
}

.bounty-container, .instructions-container {
    border-bottom: 2px solid white;
}

.filter-container {
    position: absolute;
    z-index: 6;
    background-color: rgb(40, 41, 40);
    padding: 20px 20px 20px 10px;
}

.filter-option {
    display: flex;
    height: 60px;
}

.filter-option .filledBox:hover, .filter-option .emptyBox:hover {
    cursor: pointer;
}

.filter-option h4 {
    margin-top: 4px;
    padding-left: 10px;
}

.bounty-container .bounties {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.vendors{
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.vendors .showAllContainer .header img {
    width: 40px;
    height: 40px;
    padding-top: 10px; 
}

.vendors .showAllContainer p {
    font-size: 16px
}

.vendors .showAllContainer .header h4 {
    font-size: 16px;
}

.vendors .showAllContainer h5 {
    font-size: 14px;
}

.vendors .showAllContainer .body .container {
    grid-template-columns: 18px auto;
}

.vendors .showAllContainer .body .container .box {
    height: 16px;
    width: 16px;
    border: 1px solid rgb(143, 147, 150)
}

.vendors .showAllContainer .body .container .objective {
    height: 18px;
}

.vendors .showAllContainer .body .container .objective h5{
    font-size: 12px;
    margin-top: 2px;
}

.close {
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}