.home .main-content {
    margin-bottom: 50px;
}

.filter-container, .bounty-container, .instructions-container {
    border-bottom: 2px solid white;
}

.filter-option {
    display: flex;
    height: 60px;
}

.filter-option .filledBox:hover, .filter-option .emptyBox:hover {
    cursor: pointer;
}

.filter-option h4 {
    margin-top: 4px;
    padding-left: 10px;
}

.bounty-container {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.vendors{
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.item {
    flex: 0 1 auto;
    padding: 5px
}

.item img {
    height: 50px;
    width: 50px;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    width: 80vw;
    margin-bottom: 50px;
}