.home .main-content {
    margin-bottom: 50px;
}

.filters, .bounty-container, .instructions-container {
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

.filter-container {
    position: absolute;
    z-index: 6;
    background-color: rgb(40, 41, 40);
    padding: 20px 20px 20px 20px;
    border: 0.1em solid white;
    border-radius: 0.12em;
    margin-top:-1px
}

.filter-container input{
    width: 280px;
}

.filter-option {
    display: flex;
    height: 60px;
}

.filter-option .filledBox:hover, .filter-option .emptyBox:hover {
    cursor: pointer;
}

.filter-option h4 {
    margin-top: 4px;
    padding-left: 10px;
}

.toggled-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 15px;
}

.toggled {
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    height: 25px;
    padding: 0px 5px 0px 5px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.vendors{
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.vendors .showAllContainer .header img {
    width: 40px;
    height: 40px;
    padding-top: 10px; 
}

.vendors .showAllContainer p {
    font-size: 16px
}

.vendors .showAllContainer .header h4 {
    font-size: 16px;
}

.vendors .showAllContainer h5 {
    font-size: 14px;
}

.vendors .showAllContainer .body .container {
    grid-template-columns: 18px auto;
}

.vendors .showAllContainer .body .container .box {
    height: 16px;
    width: 16px;
    border: 1px solid rgb(143, 147, 150)
}

.vendors .showAllContainer .body .container .objective {
    height: 18px;
}

.vendors .showAllContainer .body .container .objective h5{
    font-size: 12px;
    margin-top: 2px;
}

.close {
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.recalculatebtn,
.filterbtn{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    margin-top: 0.5em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-align: center;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 6;
    position: relative;
    height: 35px;
}

.recalculatebtn:hover,
.filterbtn:hover {
    color:black;
    background-color:white;
}

#time {
    overflow: hidden;
    width: 90%;
    height: 15px;
    border-radius: 5px;
    border-color: white; 
    border-width: 2px;
    outline:always;
    -webkit-appearance: none;
    background-color: #1e269b93;
    margin-bottom: 40px;
  }
  
#time::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #00be2093;
    margin-top: -10px;
  }
  
#time::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: pointer;
    background: #c7c4c4;
    box-shadow: -280px 0 0 280px #00be2093;
  }

#time-number {
    margin-bottom: 10px;
}

.collapse-btn {
    float: right;
    margin-top: -55px;
    transition: all 0.2s;
}

.collapse-btn:hover {
    cursor: pointer;
    color: goldenrod;
}